.ver-center-parent {
  display: table;
  height: 100%;
}

.ver-center-child {
  display: table-cell;
  vertical-align: middle;
}

/* ------------------ RESETS ------------------ */
html {
  font-size: 12px;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  outline: 0;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:focus {
  color: #ffffff;
  text-decoration: none;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

p {
  font-size: 1rem;
  margin-top: 12px;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

/* ------------------ BUTTONS ------------------ */
.button {
  display: inline-block;
  text-align: center;
  width: 154px;
  height: 60px;
  line-height: 60px;
  background-color: #f56131;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button:hover {
  background-color: #f57e57;
}

.button-inverse {
  background-color: #2f2339;
}

.button-inverse:hover {
  background-color: #52465c;
}

/* ------------------ HEADINGS ------------------ */
.leading-text {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 4.6875rem;
  text-transform: uppercase;
  line-height: 4.5625rem;
}

.heading-text {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  line-height: 2.875rem;
}

.subheading-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.subheading-alt {
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 60px;
}

.subheading-contact {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1.375rem;
  margin: 20px 0 30px;
}

.lower-subheading-contact {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 4px;
}

/* ------------------ NAVIGATION ------------------ */
.navbar {
  background: #ffffff;
  border: none;
  margin: 0;
}

.navbar-header {
  font-size: 0;
}

.navbar-brand {
  padding: 0;
  display: inline-block;
  float: none;
  height: auto;
}

.navbar-brand img {
  padding: 26px 0;
  margin-left: 15px;
}

.navbar-toggle {
  margin-top: 35px;
}

.navbar-default .navbar-nav > li > a {
  color: #1a1a1a;
  font-size: 0.9375rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav > li {
  text-align: center;
}

.socials-container {
  float: none;
  width: 100%;
}

.socials li a {
  padding: 10px 12px 8px;
}

.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.socials li:nth-of-type(1) a .social-icon {
  background: url(../images/social_icons.png) -6px 0;
}

.socials li:nth-of-type(2) a .social-icon {
  background: url(../images/social_icons.png) -48px 0;
}

.socials li:nth-of-type(3) a .social-icon {
  background: url(../images/social_icons.png) -93px 0;
}

.socials li:nth-of-type(4) a .social-icon {
  background: url(../images/social_icons.png) 35px 0;
}

/* ------------------ HEADER ------------------ */
.masthead {
  background: url(../images/banner.jpg) 12% 0/cover fixed no-repeat;
  min-height: calc(100vh - 104px);
  text-align: center;
}

.masthead .ver-center-parent {
  height: calc(100vh - 104px);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ------------------ SECTIONS-MAIN ------------------ */
.creative-main {
  background: #2f2339;
  overflow: hidden;
  position: relative;
}

.creative-main p {
  color: #bfbfbf;
}

.text-wrapper {
  margin: 60px 0;
  text-align: center;
}

/* ------------------ SECTIONS-AWESOME ------------------ */
.heading-inverse {
  color: #333333;
}

.heading-description {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}

.image-bg {
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
}

.awesome {
  position: relative;
  text-align: center;
  padding: 60px 0;
}

.awesome-heading-container {
  display: block;
}

.awesome-reasons .reason-container {
  background-color: #ee5d30;
  height: 260px;
  width: 100%;
  margin-top: 30px;
}

.awesome-reasons p {
  color: #333333;
  padding: 0 20px;
}

/* ------------------ SECTIONS-CREATIVE-SECONDARY ------------------ */
.creative-secondary {
  background: #2f2339;
  padding: 60px 0;
  text-align: center;
}

.image-side {
  display: none;
}

/* ------------------ COMPLEMENTARY ------------------ */
.complementary {
  padding: 80px 0;
  position: relative;
}

.complementary-inner {
  height: 300px;
  width: 100%;
  background-color: #ee5d30;
}

.complementary-text {
  position: relative;
  right: 5%;
}

.complementary-image {
  position: absolute;
  right: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  width: 32%;
}

/* ------------------ SECTIONS-CREATIVE-ADDITIONAL ------------------ */
.creative-additional {
  background: #2f2339;
  padding: 60px 0;
  text-align: center;
}

.creative-additional .subheading-alt {
  margin-top: 40px;
}

/* ------------------ SECTIONS-CREATIVE-SUMMARY ------------------ */
.creative-summary {
  text-align: center;
  padding: 60px 0;
}

.creative-summary-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.creative-summary-articles {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 60px;
}

.creative-article {
  color: #262626;
}

.creative-article .article-title {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}

.creative-article .article-description {
  margin-bottom: 30px;
}

.creative-article a {
  color: #262626;
}

.creative-article a:hover {
  color: #636060;
}

.creative-article a img:hover {
  opacity: 0.7;
}

.creative-summary-info {
  background-color: #ee5d30;
  padding: 60px 15px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.creative-summary-info p {
  font-weight: 300;
}

.creative-summary-info .heading-description {
  margin-top: 30px;
}

/* ------------------ CONTACT ------------------ */
.contact-banner {
  background: url(../images/contact_background.jpg) center/cover fixed no-repeat;
  text-align: center;
  padding: 100px 0;
}

.contact-banner p {
  font-weight: 300;
}

.contact-information {
  padding: 60px 0;
  text-align: center;
}

.contact-data-boxes {
  display: inline-block;
}

.contact-box {
  text-align: left;
  margin-top: 30px;
}

.contact-box .image-bg {
  background-color: #ee5d30;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.contact-box .contact-box-data {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.contact-information-data .contact-data {
  display: block;
  color: #585858;
  font-size: 0.875rem;
}

.contact-information-form .form-horizontal {
  margin-top: 30px;
}

.contact-information-form .control-label {
  color: #585858;
  text-align: left;
  font-weight: normal;
  font-size: 0.9375rem;
}

/* ------------------ FOOTER ------------------ */
.page-footer {
  background-color: #2f2339;
  text-align: center;
  font-size: 0.875rem;
  padding: 30px 0;
}

/* ------------------ MEDIA QUERIES ------------------ */
@media screen and (min-width: 500px) {
  .complementary-text {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  .social-icon {
    margin-left: 18px;
  }
  .masthead {
    text-align: left;
  }
  .creative-bg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .text-wrapper {
    text-align: left;
  }
  .underlay::after {
    content: "";
    position: absolute;
    background-color: #ee5d30;
    height: 260px;
    right: 0;
    top: 60px;
    z-index: -1;
    width: 60%;
  }
  .awesome {
    text-align: left;
  }
  .awesome-heading-container {
    float: none;
    display: table-cell;
  }
  .awesome-reasons .reason-container {
    background-color: #ee5d30;
    height: 260px;
    padding-left: 33%;
    margin-top: 0;
  }
  .awesome-reasons p {
    color: #333333;
    padding: 0 0 0 33%;
  }
  .creative-secondary {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #2f2339), color-stop(75%, #2f2339), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to right, #2f2339 0, #2f2339 75%, #ffffff 75%, #ffffff 100%);
    text-align: left;
  }
  .image-side {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .complementary {
    margin: 60px 0;
  }
  .complementary-image {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    width: auto;
  }
  .creative-additional {
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #2f2339), color-stop(75%, #2f2339), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to left, #2f2339 0, #2f2339 75%, #ffffff 75%, #ffffff 100%);
    text-align: left;
  }
  .image-side-alt {
    left: 0;
  }
  .creative-summary {
    text-align: left;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #ee5d30), color-stop(50%, #ee5d30), color-stop(50%, #ffffff), to(#ffffff));
    background: linear-gradient(to left, #ee5d30 0, #ee5d30 50%, #ffffff 50%, #ffffff 100%);
  }
  .creative-summary-inner {
    display: block;
  }
  .creative-summary-articles {
    padding-top: 0;
  }
  .creative-article .article-last {
    margin-bottom: 0;
  }
  .creative-summary-info {
    padding: 50px 114px 0;
  }
  .creative-summary-info p {
    margin-bottom: 30px;
  }
  .contact-information {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  .navbar-nav > li {
    padding: 27px 0;
  }
  .navbar-nav li a:hover {
    opacity: 0.6;
  }
  .socials-container {
    float: left;
    width: auto;
  }
  .social-icon {
    margin-left: 0;
  }
  .image-side-alt {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .image-side {
    padding: 0 50px;
  }
}

/* ------------------ BREAKPOINT FOR NAVBAR COLLAPSING ------------------ */
@media screen and (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
